	<key>ifdManufacturerString</key>
	<string>OpenCT Project (www.opensc-project.org/openct/)</string>
	<key>ifdProductString</key>
	<string>PC/SC Lite IFD wrapper for OpenCT</string>

	<key>ifdCapabilities</key>
	<string>0x00000000</string>
	<key>ifdProtocolSupport</key>
	<string>0x00000001</string>
	<key>ifdVersionNumber</key>
	<string>0x00000001</string>

	<key>ifdVendorID</key>
	<array>
		<!--string>0x076B</string-->
		<string>0x0529</string>
		<string>0x076B</string>
		<string>0x076B</string>
	</array>

	<key>ifdProductID</key>
	<array>
		<!--string>0x0596</string-->
		<string>0x050C</string>
		<string>0x3021</string>
		<string>0x5121</string>
	</array>

	<key>ifdFriendlyName</key>
	<array>
		<!--string>OMNIKEY CardMan 2020</string-->
		<string>Aladdin eToken PRO</string>
		<string>OMNIKEY CardMan 3121</string>
		<string>OMNIKEY CardMan 5121</string>
	</array>
