	<key>ifdManufacturerString</key>
	<string>OpenCT Project (www.opensc-project.org/openct/)</string>
	<key>ifdProductString</key>
	<string>PC/SC Lite IFD wrapper for OpenCT</string>

	<key>ifdCapabilities</key>
	<string>0x00000000</string>
	<key>ifdProtocolSupport</key>
	<string>0x00000001</string>
	<key>ifdVersionNumber</key>
	<string>0x00000001</string>

	<key>ifdVendorID</key>
	<array>
		<string>0x0973</string>
		<string>0x0529</string>
		<string>0x0529</string>
		<string>0x0529</string>
		<string>0x0529</string>
		<string>0x073d</string>
		<string>0x04b9</string>
		<string>0x04b9</string>
		<string>0x096e</string>
		<string>0x03f0</string>
		<string>0x046a</string>
		<string>0x04e6</string>
		<string>0x04e6</string>
		<string>0x04e6</string>
		<string>0x04e6</string>
		<string>0x04e6</string>
		<string>0x04e6</string>
		<string>0x073d</string>
		<string>0x076b</string>
		<string>0x076b</string>
		<string>0x076b</string>
		<string>0x076b</string>
		<string>0x076b</string>
		<string>0x0783</string>
		<string>0x08e6</string>
		<string>0x08e6</string>
		<string>0x08e6</string>
		<string>0x0b97</string>
		<string>0x0b97</string>
		<string>0x0bf8</string>
		<string>0x0dc3</string>
		<string>0x0a89</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x104f</string>
		<string>0x0c4b</string>
		<string>0x0a89</string>
		<string>0x0a89</string>
	</array>

	<key>ifdProductID</key>
	<array>
		<string>0x0001</string>
		<string>0x050c</string>
		<string>0x0514</string>
		<string>0x0600</string>
		<string>0x0700</string>
		<string>0x0005</string>
		<string>0x1202</string>
		<string>0x1300</string>
		<string>0x0005</string>
		<string>0x1024</string>
		<string>0x0010</string>
		<string>0x5115</string>
		<string>0x5116</string>
		<string>0x5117</string>
		<string>0x511d</string>
		<string>0xE001</string>
		<string>0xE003</string>
		<string>0x0c00</string>
		<string>0x1021</string>
		<string>0x3021</string>
		<string>0x5121</string>
		<string>0x5321</string>
		<string>0x6622</string>
		<string>0x0003</string>
		<string>0x3437</string>
		<string>0x3438</string>
		<string>0x4433</string>
		<string>0x7762</string>
		<string>0x7772</string>
		<string>0x1006</string>
		<string>0x1004</string>
		<string>0x0030</string>
		<string>0x0001</string>
		<string>0x8009</string>
		<string>0x9000</string>
		<string>0x9006</string>
		<string>0x9007</string>
		<string>0x90d0</string>
		<string>0x0004</string>
		<string>0x0100</string>
		<string>0x0020</string>
		<string>0x0012</string>
	</array>

	<key>ifdFriendlyName</key>
	<array>
		<string>Axalto/Schlumberger/Gemalo egate token</string>
		<string>Aladdin eToken PRO</string>
		<string>Aladdin eToken PRO</string>
		<string>Aladdin eToken PRO 64</string>
		<string>Aladdin eToken PRO NG OTP</string>
		<string>Eutron CryptoIdendity</string>
		<string>Rainbow iKey 2000</string>
		<string>Rainbow iKey 3000</string>
		<string>G&D Starkey 100</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Generic CCID Reader</string>
		<string>Pertosmart Card Reader</string>
		<string>Pertosmart Card Reader</string>
		<string>Pertosmart Card Reader</string>
		<string>Pertosmart Card Reader</string>
		<string>Pertosmart Card Reader</string>
		<string>Pertosmart Card Reader</string>
		<string>WB Electronics Inifinty USB Ulimited</string>
		<string>Cyberjack Reader</string>
		<string>Aktiv Rutoken S</string>
		<string>Aktiv uaToken S</string>
	</array>
