Source: openct
Section: utils
Priority: extra
Maintainer: Andreas Jellinghaus <aj@dungeon.inka.de>
Build-Depends: cdbs, debhelper (>= 4.0), libpcsclite-dev, libusb-dev
Standards-Version: 3.6.1

Package: libopenct0-dev
Architecture: any
Section: libdevel
Provides: libopenct-dev
Suggests: pkg-config
Depends: libopenct0 (= ${Source-Version})
Description: headers and development libraries for libopenct0
 OpenCT is an open source implementation providing card terminal
 drivers. It provides a native OpenCT, CT-API and PC/SC Lite IFD
 interface with an OpenCT ifdhandler resource manager.
 .
 This package provides the headers and development libraries.

Package: libopenct0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: middleware framework for smart card terminals (libraries)
 OpenCT is an open source implementation providing card terminal
 drivers. It provides a native OpenCT, CT-API and PC/SC Lite IFD
 interface with an OpenCT ifdhandler resource manager.
 .
 This package provides libraries for OpenCT.

Package: openct
Architecture: any
Depends: ${shlibs:Depends}, hotplug, dpkg (>= 1.7.0), adduser
Description: middleware framework for smart card terminals
 OpenCT is an open source implementation providing card terminal
 drivers. It provides a native OpenCT, CT-API and PC/SC Lite IFD
 interface with an OpenCT ifdhandler resource manager.
