#!/usr/bin/make -f

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk

DEB_INSTALL_DOCS_ALL := ANNOUNCE NEWS TODO

post-patches::
	touch aclocal.m4 config.h.in configure 
	find . -name Makefile.in | xargs touch

build/openct::
	mkdir -p debian/tmp/etc/hotplug/usb
	ln -sf ../etc/init-script debian/openct.init

clean::
	rm -f debian/openct.init
